.letter {
  color: white;
  font-size: 45px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(128, 128, 128, 0.5);
  text-align: center;
  margin: 2.5px;
}
.letter.letter-status-correct,
.key.key-correct {
  background-color: rgb(88, 163, 81);
  border-color: rgb(88, 163, 81);
  --bg-color: 88, 163, 81;
}

.letter.letter-status-misplaced,
.key.key-misplaced {
  background-color: rgb(181, 159, 59);
  border-color: rgb(181, 159, 59);
  --bg-color: 181, 159, 59;
}

.letter.letter-status-incorrect,
.key.key-incorrect {
  background-color: rgb(58, 58, 60);
  border-color: rgb(58, 58, 60);
  --bg-color: 58, 58, 60;
}

.word {
  display: flex;
}

.key-row {
  display: flex;
  width: 100%;
  justify-content: center;
}
.key {
  margin: 2.5px;
  width: auto;
  min-width: 40px;
  max-width: 65px;
  height: 40px;
  padding: 0 5px;
  background-color: grey;
  --bg-color: 128, 128, 128;
  border-radius: 10%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-weight: bold;
}
.key:hover {
  background-color: rgba(var(--bg-color), 0.7);
}

#action {
  width: 100%;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  align-self: center;
  justify-content: center;
  margin-bottom: 5%;
}
