.App {
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.game-space {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 70%;
}
